*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/depositphotos_83445092-stock-photo-workplaces-in-a-modern-panoramic.jpg);
    background-position: center;
    background-size: cover;
}
.mainNav{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainNav li{
    list-style: none;
    padding: 15px;
}
.mainNav ul{
    display: flex;
    flex-direction: row;  
    margin-right: 15%;
}
.mainNav li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.mainNav li a:hover{
    margin: 0 15px;
}
.mainNav img{
    width: 250px;
    margin-left: 15%;

}
.mainsect{
    height: 88vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.mainsect p{
    margin: 20px 400px;
    color: white;
}
.mainsect h1{
    color: white;
}
.mainsect button{
    cursor: pointer;
    height: 40px;
    border-radius: 15px;
    border: white 1px solid;
    background: none;
    margin: 0 700px;
    color: white;
    transition: 0.6s;
}

.mainsect button:hover{
    background-color: orange;
    border: none;
    color: black;
    transform: translateY(7px);
}