*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(0, 0, 0, 0.459),rgba(0, 0, 0, 0.561);
}
.mainNav{
    height: 12vh;
    background-color: rgb(168, 43, 221);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainNav li{
    list-style: none;
    padding: 15px;
}
.mainNav ul{
    display: flex;
    flex-direction: row;  
    margin-right: 15%;
}
.mainNav li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.mainNav li a:hover{
    margin: 0 15px;
}
.mainNav img{
    width: 250px;
    margin-left: 15%;

}
